@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input {
    @apply focus:outline-none;
  }
}
.pos-center {
  top: 50%;
  transform: translate(0, -50%);
}
.underline-short,
.topline-short {
  @apply relative;
}
.underline-short::after {
  content: "";
  @apply w-20 h-1 bg-gray-750 block;
}

.topline-short::after {
  content: "";
  @apply w-20 h-1 bg-gray-750 block absolute -top-4;
}

.cat-img:hover > *:last-child {
  @apply animate-to-left;
}
